<?xml version="1.0" encoding="utf-8" ?>
<nlog>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="logfile" type="File" fileName="nlog-${shortdate}.log" />
  </targets>
  <rules>
    <logger name="*" minLevel="Info" appendTo="logfile"/>
  </rules>
</nlog>